<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body bgcolor="orange">
    <H1>Welcome to my home</H1>
    <h2>List the fruits you like</h2>
    <ul>
        <li>Apple</li>
        <li>Banana</li>
        <li>Pineapple</li>
        <li>Grapes</li>
    </ul>
    <h2>List the movies you like</h2>
    <ol>
        <li>Troy</li>
        <li>Meet Jow Black</li>
        <li>The Godfather</li>
        <li>The legends of the fall</li>
    </ol>
    <img src="Red.png" width="100px" height="100px"><br>
    <a href="/welcome">Welcome</a>
    <table border="2">
        <tr bgcolor="hotpink">            
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>            
        </tr>
        <tr bgcolor="purple">
            <td>Ayeni</td>
            <td>24</td>
            <td>UK</td>
            </t2>
        <tr>
            <td>Imran</td>
            <td>23</td>
            <td>USA</td>
            </t2>
        <tr>
            <td>Thaya</td>
            <td>22</td>
            <td>NZ</td>
            </t2>
    </table>
</body>
</html>